{% extends 'tourney/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
{% csrf_token %}
{{ form }}
<button type="submit" class="save">Save</button>
</form>

<div class="tab">
<button class="tablink" onclick="openPage('Home', this, '#23366d')">Table</button>
<button class="tablink" onclick="openPage('News', this, '#23366d')" id="defaultOpen">Games</button>
<button class="tablink" onclick="openPage('Contact', this, '#23366d')">Players</button>
<button class="tablink" onclick="openPage('About', this, '#23366d')">Settings</button>
<div id="Home" class="tabcontent">
        <div class="container">
            <div class="main1">
                <div class="main2 table-responsive">
                    <center>
                        <h2> {{ related_players.0.tournament }} </h2>
                        <table class="table">
                            <thead>
                                <td>Pos.</td>
                                <td class="name">CLUBS</td>
                                <td>P</td>
                                <td>W</td>
                                <td>D</td>
                                <td>L</td>
                                <td>GS</td>
                                <td>GC</td>
                                <td>GD</td>
                                <td>POINTS</td>
                            </thead>
        {% for p in related_players %}
                            <tbody>
                                <tr class="top">
                                    <td class="pos">0</td>
                                    <td class="name">&nbsp;&nbsp; {{ p.name }}</td>
                                    <td>{{ p.games_played }}</td>
                                    <td>{{ p.wins }}</td>
                                    <td>{{ p.draws }}</td>
                                    <td>{{ p.defeats }}</td>
                                    <td class="goals_scored" id="gs-{{ p.pk }}">{{ p.goals_scored }}</td>
                                    <td class="goals_conceded" id="gc-{{ p.pk }}">{{ p.goals_conceded }}</td>
                                    <td class="goal_difference" id="gd-{{ p.pk }}">{{ p.goal_difference }}</td>
                                    <td class="points" id="points-{{ p.pk }}"> {{ p.points }}</td>
                                </tr>
                            </tbody>
        {% endfor %}
                        </table>
                    </center>
                </div>
            </div>
        </div>
    </div>

<div id="News" class="tabcontent">
    <div class="game-section">
      <ul>
    {% for game in games %}
        <li class="games" id="game{{ game.pk }}"><a class="game-link" href="#">
            {% if game.h_score is null or  game.a_score is null%}
                <div class="not_played">{{ game.home_player }} - {{ game.away_player }}</div>
            {% else %}
                <div class="played">{{ game.home_player }} {{ game.h_score }}:{{ game.a_score }} {{ game.away_player }}</div>
            {% endif %}
        </a>
        </li>
    {% endfor %}
    </ul>
    </div>
</div>

<div id="Contact" class="tabcontent">
      <div>
        <form method="POST">
            {% csrf_token %}
            {{ formset.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</div>

<div id="About" class="tabcontent">
  <h3>Settings</h3>

</div>
<div>
</div>
</div>


{% endblock %}