{% extends 'tourney/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="modal fade" id="modal-game">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>


<div class="tab">
<button class="tablink" onclick="openPage('table', this, '#23366d')" id="defaultOpen">Table</button>
<button class="tablink" onclick="openPage('results', this, '#23366d')">Results</button>
{% if request.user.is_superuser %}
<button class="tablink" onclick="openPage('games', this, '#23366d')">Games</button>
<button class="tablink" onclick="openPage('players', this, '#23366d')">Players</button>
<button class="tablink" onclick="openPage('settings', this, '#23366d')">Settings</button>
{% else %}
{% endif %}
<div id="table" class="tabcontent">
        <div class="container">
            <div class="main1">
                <div class="main2 table-responsive">
                    <center>
                        <br>
                        <br>
                        <h2> {{ related_players.0.tournament }} </h2>
                        <div id="tourney_id" class="tournament_id"> {{ related_players.0.tournament.pk }} </div>
                        <table class="table" id="player_list">
                            <thead>
                                <td>Pos.</td>
                                <td class="name">CLUBS</td>
                                <td>P</td>
                                <td>W</td>
                                <td>D</td>
                                <td>L</td>
                                <td>GS</td>
                                <td>GC</td>
                                <td>GD</td>
                                <td>POINTS</td>
                            </thead>
        {% for p in related_players %}
                            <tbody class="player_stats">
                                <tr class="top">
                                    <td class="pos">0</td>
                                    <td class="name">&nbsp;&nbsp; {{ p.name }}</td>
                                    <td>{{ p.games_played }}</td>
                                    <td>{{ p.wins }}</td>
                                    <td>{{ p.draws }}</td>
                                    <td>{{ p.defeats }}</td>
                                    <td class="goals_scored" id="gs-{{ p.pk }}">{{ p.goals_scored }}</td>
                                    <td class="goals_conceded" id="gc-{{ p.pk }}">{{ p.goals_conceded }}</td>
                                    <td class="goal_difference" id="gd-{{ p.pk }}">{{ p.goal_difference }}</td>
                                    <td class="points" id="points-{{ p.pk }}"> {{ p.points }}</td>
                                </tr>
                            </tbody>
        {% endfor %}
                        </table>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="results" class="tabcontent">

    </div>
{% if request.user.is_superuser %}
<div id="games" class="tabcontent">
    <div class="game-section">
      <ul>
        <table class="table" id="game-table">
            <tbody>
              {% include 'tourney/partials/partial_game_list.html' %}
            </tbody>
          </table>
    </ul>
    </div>
</div>
<div id="players" class="tabcontent">
      <div>
        <form method="POST">
            {% csrf_token %}
            {{ formset.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</div>
{% else %}
{% endif %}
<div id="settings" class="tabcontent">
  <h3>Settings</h3>
    <div id="poistion_priority">{{ related_players.0.tournament.position_priority }}</div>
</div>
<div>
</div>
</div>

{% endblock %}