{% for game in games %}
  <tr class="from_tourney{{ game.tournament.id }}">
    <td class="game_match">{{ game.match.id }}</td>
    <td class="game_id">{{ game.id }}</td>
    <td class="home_player">{{ game.home_player }}</td>
    {% if game.h_score is null or  game.a_score is null%}
      <td></td>
      <td>-</td>
      <td></td>
    {% else %}
      <td class="h_score">{{ game.h_score }}</td>
      <td>:</td>
      <td class="a_score">{{ game.a_score }}</td>
    {% endif %}
    <td class="away_player">{{ game.away_player }}</td>
    <td class="button-td">
      <button type="button"
              class="btn btn-warning btn-sm js-update-game"
              data-url="{% url 'game_update' game.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit Score
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No game</td>
  </tr>
{% endfor %}